{% extends 'layout.html.twig' %}

{% block pageSections %}
    <!-- Services Section -->
    <section id="job">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-6" style="padding-right:0;">
                    <div id="map" style="height:500px"></div>
                    <div class="city-name"></div>
                    <div id="map-tooltip" class="map-tooltip" style="margin-top: -390px;z-index: 1000;"></div>
                </div>
                <div class="col-md-6">
                    <div id="spider" style="height:500px"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    {#<section id="about">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-lg-12 text-center">#}
                    {#<h2 class="section-heading">About</h2>#}
                    {#<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>#}
                {#</div>#}
            {#</div>#}
            {#<div class="row">#}
                {#<div class="col-lg-12">#}
                    {#<ul class="timeline">#}
                        {#<li>#}
                            {#<div class="timeline-image">#}
                                {#<img class="img-circle img-responsive" src="{{ asset('img/about/1.jpg') }}" alt="">#}
                            {#</div>#}
                            {#<div class="timeline-panel">#}
                                {#<div class="timeline-heading">#}
                                    {#<h4>2009-2011</h4>#}
                                    {#<h4 class="subheading">Our Humble Beginnings</h4>#}
                                {#</div>#}
                                {#<div class="timeline-body">#}
                                    {#<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</li>#}
                        {#<li class="timeline-inverted">#}
                            {#<div class="timeline-image">#}
                                {#<img class="img-circle img-responsive" src="{{ asset('img/about/2.jpg') }}" alt="">#}
                            {#</div>#}
                            {#<div class="timeline-panel">#}
                                {#<div class="timeline-heading">#}
                                    {#<h4>March 2011</h4>#}
                                    {#<h4 class="subheading">An Agency is Born</h4>#}
                                {#</div>#}
                                {#<div class="timeline-body">#}
                                    {#<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</li>#}
                        {#<li>#}
                            {#<div class="timeline-image">#}
                                {#<img class="img-circle img-responsive" src="{{ asset('img/about/3.jpg') }}" alt="">#}
                            {#</div>#}
                            {#<div class="timeline-panel">#}
                                {#<div class="timeline-heading">#}
                                    {#<h4>December 2012</h4>#}
                                    {#<h4 class="subheading">Transition to Full Service</h4>#}
                                {#</div>#}
                                {#<div class="timeline-body">#}
                                    {#<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</li>#}
                        {#<li class="timeline-inverted">#}
                            {#<div class="timeline-image">#}
                                {#<img class="img-circle img-responsive" src="{{ asset('img/about/4.jpg') }}" alt="">#}
                            {#</div>#}
                            {#<div class="timeline-panel">#}
                                {#<div class="timeline-heading">#}
                                    {#<h4>July 2014</h4>#}
                                    {#<h4 class="subheading">Phase Two Expansion</h4>#}
                                {#</div>#}
                                {#<div class="timeline-body">#}
                                    {#<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</li>#}
                        {#<li class="timeline-inverted">#}
                            {#<div class="timeline-image">#}
                                {#<h4>Be Part#}
                                    {#<br>Of Our#}
                                    {#<br>Story!</h4>#}
                            {#</div>#}
                        {#</li>#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Team</h2>
                    <h3 class="section-subheading text-muted">City Science Member</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ asset('img/team/1.jpg') }}" class="img-responsive img-circle" alt="">
                        <h4>Emily Chen</h4>
                        <p class="text-muted">Data Analyst</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ asset('img/team/2.jpg') }}" class="img-responsive img-circle" alt="">
                        <h4>Julian Li</h4>
                        <p class="text-muted">Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ asset('img/team/3.jpg') }}" class="img-responsive img-circle" alt="">
                        <h4>Bryan Hong</h4>
                        <p class="text-muted">Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Nobody grows old merely by living a number of years. We grow old by deserting our ideals.<br>
                        --- Samuel Ullman</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="../img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="../img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="../img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="../img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- city detail modal -->
    <div class="modal fade bs-example-modal-lg" id="cityDetailModal" role="dialog" aria-hidden="true" style="z-index: 1049">
        <div class="modal-dialog modal-lg" id="cityDetailDialog">
            <div class="modal-content">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="panel-title">City details</h3>
                </div>
                <div class="modal-body">
                    <div class="panel panel-info">
                        <div class="panel-heading"><h3 class="panel-title" id="cityDetailModalHeader"></h3></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="cityDetailContent">
                                        <div class="list-group list-group-horizontal">
                                            <a href="javascript:;" class="list-group-item cityDetailList">Top 5 Job Variety and Volume  </a>
                                            <a href="javascript:;" class="list-group-item cityDetailList">Top 5 Job Variety and Popularity  </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><div id="cityDetailModalSpider" style="height:400px;"></div></div>
                                <div class="col-md-6"><div id="cityDetailModalDonut" style="height:400px;"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

